*, *::before, *::after {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
}
.content--wrapper {
  width: 62.5rem;
  margin: 0 auto;
}
.main-nav {
  background-color: white;
  border-bottom: #ebebeb 1px solid;
  height: 4rem;
  overflow: hidden;
}
.main-nav ul {
  width: auto;
  margin: 0;
  float: right;
}
.main-nav li {
  list-style: none;
  display: inline-block;
}
.main-nav li a {
  text-decoration: none;
  font-size: 1rem;
  padding: 0 .5rem;
  line-height: 4rem;
  color: #838994;
  letter-spacing: 0.03em;
  transition: color .2s ease-in-out;
}
.main-nav li:last-child a {
  padding-right: 0;
}
.main-nav li a:hover, .main-nav li.active a {
  color: #4c5058; 
}
.main-nav li.active a {
  font-weight: 500;
}
.main-nav li.active a:hover {
  cursor: default;
}
.logo {
  float: left;
  display: inline-block;  
  margin-top: .75rem;
}