*, *::before, *::after {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Repeating UI Elements */
  .btn {
    background-color: #F35919;
    text-align: center;
    color: white;
    display: inline-block;
    padding: .5rem 1rem;
    border-radius: .25rem;
    text-decoration: none;
    /* If class assigned to button element */
    border: none;
    transition: background-color .2s ease-in-out;
  }
  .btn:hover {
    background-color: #d9400e;
  }
  .btn-large {
    padding: 1rem 2.2rem;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
  }
.content--wrapper {
  width: 60rem;
  margin: 0 auto;
}
.main-nav {
  background-color: white;
  border-bottom: #ebebeb 0.0625rem solid;
  height: 4rem;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}
.main-nav ul {
  width: auto;
  margin: 0;
  float: right;
}
.main-nav li {
  display: inline-block;
}
.main-nav li a {
  text-decoration: none;
  font-size: 1rem;
  padding: 0 .5rem;
  line-height: 4rem;
  color: #838994;
  letter-spacing: 0.03em;
  transition: color .2s ease-in-out;
}
.main-nav li:last-child a {
  padding-right: 0;
}
.main-nav li a:hover, .main-nav li.active a {
  color: #4c5058; 
}
.main-nav li.active a {
  font-weight: 500;
}
.main-nav li.active a:hover {
  cursor: default;
}
.logo {
  margin-top: .75rem;
  height: 2.5rem;
  width: 1.6875rem;
}

.hero {
  margin: 4rem 0 0;
  padding: 0;
  height: 45.9375rem;
  text-align: center;
  background: url('../images/first-background.jpg') top center no-repeat;
  background-size: cover;
  overflow: auto; /* for collapsing margin */
}
.hero h1, .hero p {
  color: white;
  font-weight: 300;
}
.hero h1 {
  font-size: 3.5rem;
  margin-top: 15rem;
}
.hero p {
  font-size: 1.5rem;
  padding: 0;
  margin: .5rem 0 1rem 0;
}

.main--content {
  width: 100%;
  clear: both;
  padding: 6rem 0;
}
.main--content h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 4rem;
}
.teasers {
  width: 100%;
  overflow: hidden;
}

[class*="teaser--"] {
  float: left;
  width: 33.3333333%;
  text-align: center;
}

.teasers h2 {
  font-weight: 400;
  font-size: 1.5rem;
}

.teasers img {
  height: 7.9375rem;
  width: 7.9375rem;
}

footer .content--wrapper {
  text-align: center;
  border-top: #ccc 1px solid;
  padding: 1rem 0 8rem;
}
ul.social-nav {
  padding: 0;
  margin: 0;
}
.social-nav li {
  display: inline-block;
}
.social-nav a {
  border: #ccc .0625rem solid;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100%;
  display: block;
}
.social-nav span {
  line-height: 2.5rem;
}
[class*="twitter"] {
  color: #55ACEF;
}
[class*="facebook"] {
  color: #4C66A4;
}
[class*="instagram"] {
  color: #3F729B;
}
.copyright {
  font-weight: 100;
  color: #ccc;
}